{{> header }}
    {{> navbar }}
        <div class='row'>
            <div class = 'col-8'>
                <h1>Cápitan América</h1>
                <p>
                    Texto estandar sin contenido específico
                </p>
            </div>
            <div class = 'col-4'>
                <img src="assets/img/zoro.jpg" class="img-thumbnail">
            </div>
        </div>
    {{> footer }}